*{ border: 
   
}
html {
    padding: 3850pxpx;
    font-family: "bungee";
}

body { 
    margin: 1px 72px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    
.header1 {
    color: 	#7944e6   
}

h2 h3 h4 h5 {
   
    font-size: 15pt;
}

h2 {
    padding-left: 10px;
}

h1 {
    font-size:3vw ;
    word-spacing: 6pt;
}

h3 h4 h5 {
    padding:100pt
}

.sec {

  background-color: #ff00ff;
  display: flex;
  flex-direction: column;
  
}
img {
    width: 48%;
    height: auto;
}

 #images {
     align-self: center;
     padding-left: 35%;
    padding-top: 23px;
    padding-bottom: -7pt;
    margin-bottom: -25pt;
 }
.bigimage {
    width: 205%;
    height: auto;
 
}



.flex-container1 {
    display: flex ;
    flex-direction: column;
     align-items: center;
     text-align: center;
     margin: 5px 100px;
     border: 4px solid #7944e6;
    }

 .flex-container2 {
     display: flex ;
     flex-direction: column;
      align-items: center;
     text-align: center;
    margin: 5px 100px;
     border: 4px solid #7944e6;
    
}
.flex-container3 {
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px 100px;
    border: 4px solid #7944e6;
}
 button {
     color: #7944e6;
     border: none;
     background-color: white;
 }

    
     
 
 p {
    font-size: 8pt;
    font-weight: bold;
    margin-top: -38px;
    word-spacing: 0em;
    line-height: 1;
    padding-left: 11px;
    padding-right: 2px;
     
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  a {
    text-decoration: none;
    color: #7944e6
  }

  a:hover {
      color: #10fdff
  }

 


body {
    margin: 8px;
}

@media screen and (min-width: 768px) {
   .sec {
    flex-direction: row;
   } 
   
   .row {
       display:flex;
       margin: 9px;

   }
   
   
   .flex-container1 {
    margin: 5px 30px;
    width: 51em;
   }
   .flex-container2 {
    margin: 5px 30px;
}.flex-container3 {
    margin: 5px 30px;  
}
    #images {
        padding: 0%;
        width: 200em;
        margin-left: 40px;
        
    }
    #left {
        width: 48%;
    height: auto;
    }
    
p {
    word-spacing: 1em;
}